

/* 
The RMarkdown Css is here: http://github.com/rstudio/markdown/blob/master/inst/resources/markdown.css 
*/


/* Code Chunk color 
div.blue pre { background-color:lightblue; }
div.blue pre.r { background-color:blue; }
*/


/* Basic Settings */

h1 {
    margin-bottom: 10px;
    /* color: darkblue; */
}



h2 {
    text-decoration: none;
    font-weight: bold;
    padding-left: 0;
    margin-top: 0;
    font-size:1.6em;
}



 
 
/* Navigation Bar Settings */

.navbar-default {
  background-color: #232D4B;
 }

ul.nav a:hover { 
  background-color: #E57200 !important;
}



/* BlockQuote */

blockquote { 
  display: block;
  font-size: 10pt;
  font-family: Times;
  margin-top: 1em;
  margin-bottom: 1em;
  margin-left: 30px;
  margin-right: 40px;
}

/* Table Settings */

table {
  width: 65%;
}
th {
  /* background-color: green; */
  /* color: #ffffff; */
}
td {
 /* background-color: #dcdcdc; */
}
